* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{--color-primario: black}
:root{--color-secundario: rgb(185, 182, 182)}


.container {
    background-image: url(/img/engranaje.jpg);

}

nav {
    width: 100vw;
    display: flex;
    background-color: rgb(185, 182, 182);
    justify-content: flex-end;
    flex-direction: column;
    padding: 2px 4px;
    color: var(--color-primario);
    

}

.nav1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.img-nav {
    height: 50px;
    width: 50px;
}

h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 40px;
}
.nav2-ul{
    display:flex;
    justify-content:flex-end ;
   

}
.nav2-ul, li ,a {
   
    display: flex;
    list-style: none;
    margin: 3px;
    text-decoration: solid;
    
   

    list-style: none;
    text-decoration: none;
    color: var(--color-primario)
    


}

#s1{background-color: var(--color-secundario);
    border: none;
}
.nav2-ul li:hover{
    background-color: gray;
   
}
.nav2-ul li a:hover{
   color:wheat
   
}
